<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'

const errorMessage = ref<string>('')
const resMessage = ref<number>()
const fishData = ref({
  Species: -1,
  Length1: 0.0,
  Length2: 0.0,
  Length3: 0.0,
  Height: 0.0,
  Width: 0.0
})

const predictFishWeight = async () => {
  try {
    const response = await axios.post('http://localhost:8000/fish/predict/', fishData.value)

    console.log('Predicted fish weight:', response.data)
    resMessage.value = response.data
    errorMessage.value = ''
  } catch (error) {
    console.error('Failed to predict fish weight:', error)
    errorMessage.value = 'Failed to predict fish weight'
  }
}
</script>

<template>
  <div>
    <form @submit.prevent="predictFishWeight">
      <!-- Your form fields go here -->
      <label for="species">Species:</label>
      <select v-model="fishData.Species" required>
        <option value="-1" disabled>Select a species</option>
        <option value="0">Bream</option>
        <option value="1">Parkki</option>
        <option value="2">Perch</option>
        <option value="3">Pike</option>
        <option value="4">Roach</option>
        <option value="5">Smelt</option>
        <option value="6">Whitefish</option>
        <!-- Add more options as needed -->
      </select><br/>
      <label for="length1">Length1:</label>
      <input v-model="fishData.Length1" type="number" step="0.1" required><br/>
      <label for="length1">Length2:</label>
      <input v-model="fishData.Length2" type="number" step="0.1" required><br/>
      <label for="length1">Length3:</label>
      <input v-model="fishData.Length3" type="number" step="0.1" required><br/>
      <label for="length1">Height:</label>
      <input v-model="fishData.Height" type="number" step="0.0001" required><br/>
      <label for="length1">Width:</label>
      <input v-model="fishData.Width" type="number" step="0.0001" required><br/>

      <!-- Add other form fields as needed -->

      <button type="submit">Predict Fish Weight</button>
    </form>

    <div v-if="resMessage">{{ resMessage }}</div>
  </div>
</template>

<style scoped>

</style>